html, body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.hbox {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#item1 {
    background: aquamarine;
    flex-grow: 1;
}

#item2 {
    background: cadetblue;
    flex-grow: 0.10;
}

#item3 {
    background: tomato;
    flex-grow: 1;
}

#item4 {
     background: sandybrown;
     flex-grow: 1;
 }

#canvasContainer {
    background: sandybrown;
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
}

canvas {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#item5 {
    background: yellowgreen;
    flex-grow: 1;
}

#item6 {
    background: #379360;
    flex-grow: 1;
}

#item7 {
    background: lightslategrey;
    flex-grow: 1;
}

#footer {
    background: orangered;
    flex-grow: 0.25;
    min-height: 100px;
}

#item9 {
    background: brown;
}
