html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to bottom, black, darkslateblue);
}

#gibson {
    color: black;
    transition: all 1s;
    font-family: Lato;
    font-size: 28pt;
    text-align: center;
}

.gibson {
    color: white;
    font-family: Lato;
    font-size: 28pt;
    text-align: center;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.hbox {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-between;
    flex-wrap: wrap;
}

.experiment {
    flex-grow: 1;
    align-items: center;
    margin: 1%;
}